body {
    color:black;
    background-color : gray;
    background-image:url(aqua.jpg);
    background-repeat:no-repeat;
    background-position:30% 30%;
    margin: 0px;;
}



  
div {
background-position:  25cm bottom;
}